{{#each this}}


<li class='film__card' data-id={{this.id}}>
  
    <a class='film__link' data-id={{this.id}} href='#'>
      <img
        class='film__img'
        src={{this.poster_path}}
        alt=''
        data-id={{this.id}}
      />
      <h2 class='film__name' data-id={{this.id}}>{{this.original_title}}</h2>
      <div class='film__atribute' data-id={{this.id}}>
        <p class='film__ganre' data-id={{this.id}}>{{this.genre_ids}}</p>
        <p class='film__year' data-id={{this.id}}>{{this.release_date}}</p>
      </div>
     </a>
  </li>
{{/each}}