{{#each this}}

<li class="film__card" data-id = ${{this.id}}>        
        <img class="film__img" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt=""/>
        <h2 class="film__name" data-id = ${{this.id}}>{{this.original_title}}</h2>
            <div class="film__atribute">
<<<<<<< Updated upstream
                <p class="film__ganre" data-id = ${{this.id}}>{{this.genre_ids}}</p>
                <p class="film__year" data-id = ${{this.id}}>{{this.release_date}}</p>
=======
                <p class="film__ganre">{{this.genre_ids}}</p>
                <p class="film__year">{{this.release_date}}</p>
>>>>>>> Stashed changes
            </div>
    </li>
    {{/each}}